<a href="https://colab.research.google.com/github/azhar2205/paddle-ball-using-dqlearn/blob/master/institution_activity_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Note**

At start of month, update weekly expiry dates in /content/drive/MyDrive/institution_activity_analysis/data/expiries.csv. Download expiry dates from https://www.nseindia.com/api/historical/fo/derivatives/meta?&from=01-04-2025&instrumentType=OPTIDX&symbol=NIFTY

**TODO**

From 08-Jul-2024 (Mon), the cash and derivative bhavcopy format has changed. The code is yet to be adjusted to it. Last run was on 05-Jul-2025 (Fri).

**Learnings**


*   DELIVERY_PERC is not impacted by split/bonus.
*   VOLUME, NT increase with stock split/bonus. So, VOLUME, NT shouldn't be analyzed individually or any other param which does not change with split/bonus e.g. VALUE/NT.
*   The ratio of VOLUME/NT is not propotionate after split/bonus. The ratio may change.

In [ ]:
# !pip install --upgrade mplfinance

# Input

In [ ]:
KITE_TOKEN = "enctoken duHop3kYhG14m9xB/S26YI+hJiWe22h1262G4xnw2upHR+8bsvZyipzy0l2GzKpRCLUZFCZ7ZvEx9xOHbDvKpfwSUsy4VyPUJNyBY9kMVzTlib6hzc7tIg=="

In [ ]:
# MONTHLY_EXPIRY_DATE = "2024-10-31"
MONTHLY_STRIKE_MIN_OI_ANALYSIS = 21500
MONTHLY_STRIKE_MAX_OI_ANALYSIS = 24000

# WEEKLY_EXPIRY_DATE = "2024-11-14"
WEEKLY_STRIKE_MIN_OI_ANALYSIS = 21700
WEEKLY_STRIKE_MAX_OI_ANALYSIS = 23300

In [ ]:
PAST_SECTORS = ['Capital Goods','Construction','Consumer Services','Forest Materials','Information Technology','Media, Entertainment & Publication','Power','Textiles']
CURRENT_SECTORS = ['Consumer Services', 'Forest Materials', 'Capital Goods', 'Realty']
SECTORS = PAST_SECTORS + CURRENT_SECTORS

#Functions

In [ ]:
import datetime
from http.cookies import SimpleCookie
import io
import itertools
import json
import math
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
# import mplfinance as mpf
import os
import numpy as np
import pandas as pd
import pathlib
import requests
import seaborn as sns
import shutil
import sys
import time
from tqdm.notebook import tqdm
import traceback
import zipfile

# Provide proxy details, if using
# os.environ["http_proxy"] = "http://user:password@host:port"
# os.environ["https_proxy"] = "http://user:password@host:port"

In [ ]:
# https://www.nseindia.com/products-services/indices-nifty500-index
# https://nsearchives.nseindia.com/content/indices/ind_nifty500list.csv

In [ ]:
SCRIPT_PATH = "/content/drive/MyDrive/institution_activity_analysis"
DATA_PATH = os.path.join(SCRIPT_PATH, "data")
RAW_DATA_PATH = os.path.join(DATA_PATH, "raw")
MAIN_DATA_PATH = os.path.join(DATA_PATH, "main")
EQ_CSV_PATH = os.path.join(RAW_DATA_PATH, "EQ", "CSV")
EQ_ZIP_PATH = os.path.join(RAW_DATA_PATH, "EQ", "ZIP")
FO_CSV_PATH = os.path.join(RAW_DATA_PATH, "FO", "CSV")
FO_ZIP_PATH = os.path.join(RAW_DATA_PATH, "FO", "ZIP")
DV_CSV_PATH = os.path.join(RAW_DATA_PATH, "DV", "CSV")
SPOT_CSV_PATH = os.path.join(RAW_DATA_PATH, "NIFTY_50")
PO_CSV_PATH = os.path.join(RAW_DATA_PATH, "PARTICIPANTWISE_OI")
IND_PATH = os.path.join(DATA_PATH, "indices")
TS_FILEPATH = os.path.join(DATA_PATH, "last_updated.txt")
TODAY = datetime.date.today()
YDAY = TODAY - datetime.timedelta(1)
# Analyze with last 1000 days data (3 years)
LOOKBACK_DAYS = 1000
ANALYZE_SINCE = (TODAY - datetime.timedelta(days=LOOKBACK_DAYS + 1)).strftime("%Y-%m-%d")
ERASE_HISTORY_DATA = False
STOCK_PRICE_MIN_THRESHOLD = 50
HOLIDAY_LIST = []
DELIVERY_PERC_SCALE = 1.25
QTY_DELIVERED_SCALE = 1.25
FUT_OI_SCALE = 1.25
PAST_DAYS_FOR_SM_ACTIVITY_ANALYSIS = 10
THRESHOLD_FOR_SM_ACTIVITY_ANALYSIS = 3
SM_ACTIVITY_FILEPATH = f"{SCRIPT_PATH}/data/output/sm_activity.xlsx"
EXPIRY_DF = None
SPOT_DF = None

In [ ]:
INSTRUMENTS_URL = "https://api.kite.trade/instruments"

In [ ]:
KITE_HEADERS = {
    "authority": "kite.zerodha.com",
    "accept": "*/*",
    "accept-language": "en-GB,en;q=0.9,en-US;q=0.8,mr;q=0.7,hi;q=0.6",
    "authorization": f"{KITE_TOKEN}",
    "referer": "https://kite.zerodha.com/static/build/chart-beta.html?v=3.3.2",
    "sec-fetch-dest": "empty",
    "sec-fetch-mode": "cors",
    "sec-fetch-site": "same-origin",
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
}

NSE_GUEST_HEADERS = {
    "authority" : "www.nseindia.com",
    "accept" : "*/*",
    "accept-language" : "en-GB,en;q=0.9,en-US;q=0.8,mr;q=0.7,hi;q=0.6",
    "user-agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36",
}

NSE_ACCESS_HEADERS = {
    "authority" : "www.nseindia.com",
    "accept" : "*/*",
    "accept-language" : "en-GB,en;q=0.9,en-US;q=0.8,mr;q=0.7,hi;q=0.6",
    "cookie" : "",
    "referer" : "https://www.nseindia.com/option-chain",
    "user-agent" : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36',
}

In [ ]:
def load_nifty_indices():
    result = {}
    df_nifty_500 = pd.read_csv(os.path.join(DATA_PATH, "indices", "nifty_500.csv"), header=0)
    result["df_nifty_500"] = df_nifty_500
    # df_midcap_100 = pd.read_csv(os.path.join(DATA_PATH, "indices", "midcap_100.csv"), header=0)
    # result["df_midcap_100"] = df_midcap_100
    # df_smallcap_100 = pd.read_csv(os.path.join(DATA_PATH, "indices", "smallcap_100.csv"), header=0)
    # result["df_smallcap_100"] = df_smallcap_100
    return result
#

def get_symbols(indices, sectors=None):
    result = set()
    df = indices["df_nifty_500"]
    if sectors:
        result.update(df[df["Industry"].isin(SECTORS)]["Symbol"])
    else:
        result.update(df["Symbol"])
    # result.update(indices["df_nifty_200"]["Symbol"])
    # result.update(indices["df_midcap_100"]["Symbol"])
    # result.update(indices["df_smallcap_100"]["Symbol"])
    return result
#

def is_holiday(n_date):
    date_str = n_date.strftime("%d") + "-" + n_date.strftime("%b") + "-" + n_date.strftime("%Y")
    # weekday() -> (5=Sat, 6=Sun)
    return n_date.weekday() >= 5 or date_str in HOLIDAY_LIST
#

def load_holidays():
    return pd.read_csv(os.path.join(DATA_PATH, "holidays.txt"), header=None)[0].tolist()
#

def load_expiries():
    df = pd.read_csv(os.path.join(DATA_PATH, "expiries.csv"))
    df["expiry"] = df["expiry"].apply(pd.to_datetime)
    df["alt_expiry"] = df["alt_expiry"].apply(pd.to_datetime)
    return df
#

def get_expiries_df(mm, yyyy):
    return EXPIRY_DF[(EXPIRY_DF["expiry"].dt.month == mm) & (EXPIRY_DF["expiry"].dt.year == yyyy)]
#

def get_expiries(mm, yyyy):
    return get_expiries_df(mm, yyyy).sort_values("expiry", ascending=True)
#

def get_previous_month(mm, yyyy):
    if mm > 1:
        return mm-1, yyyy
    else:
        return 12, yyyy-1
#

def get_next_month(mm, yyyy):
    if mm < 12:
        return mm+1, yyyy
    else:
        return 1, yyyy+1
#

def get_monthly_expiry(mm=TODAY.month, yyyy=TODAY.year):
    curr_month_last_expiry = get_expiries(mm, yyyy)["expiry"].tolist()[-1]
    if curr_month_last_expiry.date() >= TODAY:
        return curr_month_last_expiry

    next_mm, next_yyyy = get_next_month(mm, yyyy)
    return get_expiries(next_mm, next_yyyy)["expiry"].tolist()[-1]
#

def get_weekly_expiry(dd=TODAY.day, mm=TODAY.month, yyyy=TODAY.year):
    df_curr = get_expiries(mm, yyyy)
    next_mm, next_yyyy = get_next_month(mm, yyyy)
    df_next = get_expiries(next_mm, next_yyyy)
    df = pd.concat([df_curr, df_next], ignore_index=True)
    df["days"] = df["expiry"] - pd.to_datetime(TODAY)
    return df[(df.days.dt.days >= 0) & (df.days.dt.days <= 7)]["expiry"].tolist()[0]
#

def get_previous_monthly_expiry(mm=TODAY.month, yyyy=TODAY.year):
    curr_month_last_expiry = get_expiries(mm, yyyy)["expiry"].tolist()[-1]
    if curr_month_last_expiry.date() >= TODAY:
        prev_mm, prev_yyyy = get_previous_month(mm, yyyy)
        return get_expiries(prev_mm, prev_yyyy)["expiry"].tolist()[-1]

    return curr_month_last_expiry
#

def get_previous_weekly_expiry(dd=TODAY.day, mm=TODAY.month, yyyy=TODAY.year):
    df = get_expiries(mm, yyyy)
    curr_month_expiries = df[df["expiry"].dt.day < dd]["expiry"].tolist()
    if curr_month_expiries:
        return curr_month_expiries[-1]

    prev_mm, prev_yyyy = get_previous_month(mm, yyyy)
    prev_month_expiries = get_expiries(prev_mm, prev_yyyy)["expiry"].tolist()
    return prev_month_expiries[-1]
#

def get_date_for_timestamp(ts):
    yyyy = ts.strftime("%Y")
    mm = ts.strftime("%m")
    dd = ts.strftime("%d")
    return f"{yyyy}-{mm}-{dd}"
#

def read_spot_data():
    dfs = list()
    files = pathlib.Path(SPOT_CSV_PATH).glob("*.csv")
    for f in files:
        data = pd.read_csv(f)
        dfs.append(data)
    #
    df = pd.concat(dfs, ignore_index=True)
    df["Date"] = df["Date"].apply(pd.to_datetime)
    df = df.set_index(["Date"])
    return df
#

def get_atm_strike_for_spot(spot):
    if spot % 100 > 50:
        return int(spot - (spot % 100) + 100)
    else:
        return int(spot - (spot % 100))
#

def get_atm_strike_for_spot_for_dates(from_date, to_date):
    result_list = []
    daterange = pd.date_range(from_date, to_date)
    for n_date in daterange:
        if not is_holiday(n_date):
            n_date_str = n_date.strftime("%Y-%m-%d")
            spot = round(SPOT_DF.at[n_date_str, "Close"])
            atm_strike = get_atm_strike_for_spot(spot)
            result_list.append([n_date_str, atm_strike])
    return result_list
#

def get_urls_for_date(n_date):
    yyyy = n_date.strftime("%Y")
    mm = n_date.strftime("%m")
    dd = n_date.strftime("%d")
    mon = n_date.strftime("%b").upper()
    # https://archives.nseindia.com/content/historical/EQUITIES/2022/AUG/cm19AUG2022bhav.csv.zip
    # https://nsearchives.nseindia.com/content/cm/BhavCopy_NSE_CM_0_0_0_20240708_F_0000.csv.zip
    eq_filename = f"BhavCopy_NSE_CM_0_0_0_{yyyy}{mm}{dd}_F_0000.csv.zip"
    eq_url = f"https://nsearchives.nseindia.com/content/cm/{eq_filename}"
    # https://archives.nseindia.com/archives/equities/mto/MTO_19082022.DAT
    # https://nsearchives.nseindia.com/archives/equities/mto/MTO_20092024.DAT
    dv_filename = f"MTO_{dd}{mm}{yyyy}.DAT"
    dv_url = f"https://nsearchives.nseindia.com/archives/equities/mto/{dv_filename}"
    # https://archives.nseindia.com/content/historical/DERIVATIVES/2022/AUG/fo19AUG2022bhav.csv.zip
    # https://nsearchives.nseindia.com/content/fo/BhavCopy_NSE_FO_0_0_0_20240708_F_0000.csv.zip
    fo_filename = f"BhavCopy_NSE_FO_0_0_0_{yyyy}{mm}{dd}_F_0000.csv.zip"
    fo_url = f"https://nsearchives.nseindia.com/content/fo/{fo_filename}"
    # https://nsearchives.nseindia.com/content/nsccl/fao_participant_oi_01082024.csv
    po_filename = f"fao_participant_oi_{dd}{mm}{yyyy}.csv"
    po_url = f"https://nsearchives.nseindia.com/content/nsccl/{po_filename}"
    return { "eq_url": eq_url, "eq_filename": eq_filename, \
             "fo_url": fo_url, "fo_filename": fo_filename, \
             "dv_url": dv_url, "dv_filename": dv_filename, \
             "po_url": po_url, "po_filename": po_filename, }
#

def reset_cookies(headers):
    nse_url = "http://www.nseindia.com/api/marketStatus"
    print(f"Connecting to {nse_url}")
    with requests.get(nse_url, headers=NSE_GUEST_HEADERS, stream=True, timeout=30) as response:
        # Update cookie for next request
        cookie = SimpleCookie()
        cookie.load(headers["cookie"])
        for c in response.cookies:
            cookie[c.name] = c.value
        headers["cookie"] = "; ".join([f"{k}={v.value}" for k, v in cookie.items()])
#

def download_text_file(url, headers, filepath):
    print(f"Downloading file {url}")
    with requests.get(url, headers=headers, stream=True, timeout=30) as response:
        if not response.ok:
            print(f"ERROR: URL {url} failed with status code {response.status_code} and body {response.text}")
            response.raise_for_status()
        with open(filepath, "w") as out_file:
            out_file.write(response.text)
    result = {}
    result["status_code"] = 200
    return result
#

def download_zip_file(url, headers, filepath):
    print(f"Downloading file {url}")
    with requests.get(url, headers=headers, stream=True, timeout=30) as response:
        if not response.ok:
            print(f"ERROR: URL {url} failed with status code {response.status_code} and body {response.text}")
            response.raise_for_status()
        with open(filepath, "wb") as out_file:
            shutil.copyfileobj(response.raw, out_file)
    result = {}
    result["status_code"] = 200
    return result
#

def unzip_file(zip_filepath, target_folderpath):
    with zipfile.ZipFile(zip_filepath, "r") as zip_ref:
        test_res = zip_ref.testzip()
        if test_res:
            raise RuntimeError(f"Error: Archive {zip_filepath} is bad. Error: {test_res}")
        else:
            zip_ref.extractall(target_folderpath)

In [ ]:
def call_kite_api(url, retry=False):
    try:
        response = requests.get(url, headers=KITE_HEADERS, timeout=10)
        if not response.ok:
            print(f"ERROR: {url} failed with status code {response.status_code} and body {response.text}")
            response.raise_for_status()
        response_json = json.loads(response.text)
        if response_json["status"] != "success":
            raise ValueError(f"{url} failed")
        return response_json["data"]["candles"]
    except (requests.ReadTimeout, json.JSONDecodeError) as e:
        if retry:
            print("Retrying after 5 sec...")
            time.sleep(5)
            return call_kite_api(url, retry=False)
        else:
            raise e
#

def get_instruments_historical_url(instrument_id, from_date, to_date):
    return f"https://kite.zerodha.com/oms/instruments/historical/{instrument_id}/day?user_id=JV5904&oi=0&from={from_date}&to={to_date}"
#

def build_spot_df_from_kite_data(kite_data, from_date, to_date):
    df = pd.DataFrame(kite_data, columns=["Date", "Open", "High", "Low", "Close", "Volume"])
    df = df.drop(columns="Volume")
    df["Date"] = df["Date"].apply(pd.to_datetime)
    df = df[(df["Date"] >= from_date) & (df["Date"] <= to_date)]
    df = df.drop_duplicates(subset=["Date"])
    df["Date"] = df["Date"].dt.date
    df["Date"] = df["Date"].apply(pd.to_datetime)
    df = df.set_index(["Date"])
    return df
#

def download_nifty_data_from_kite(from_date, to_date):
    nifty_instrument_id = "256265"
    kite_url = get_instruments_historical_url(nifty_instrument_id, from_date, to_date)
    nifty_data = call_kite_api(kite_url, retry=True)
    return build_spot_df_from_kite_data(nifty_data, from_date, to_date)
#

In [ ]:
def call_instruments_api(retry=False):
    try:
        response = requests.get(INSTRUMENTS_URL, timeout=10)
        if not response.ok:
            print(f"ERROR: {INSTRUMENTS_URL} failed with status code {response.status_code} and body {response.text}")
            response.raise_for_status()
        instruments_df = pd.read_csv(io.StringIO(response.text), header=0)
        # README: In case of failure, download the file using command in cell below.
        # instruments_df = pd.read_csv('/content/instruments.csv', header=0)
        return instruments_df
    except (requests.ReadTimeout, json.JSONDecodeError) as e:
        if retry:
            print("Retrying after 5 sec...")
            time.sleep(5)
            return call_instruments_api(retry=False)
        else:
            raise e
#

# instruments_df = call_instruments_api(retry=True)
# instruments_df[
#     (instruments_df["segment"]=="NFO-OPT")
#     & (instruments_df["name"]=="NIFTY")
# ][["expiry"]]

In [ ]:
def download_data_for_n_days(n_days):
    print(f"Downloading data for past {n_days} days...")
    reset_cookies(NSE_ACCESS_HEADERS)
    result = {}
    for n_date in (TODAY - datetime.timedelta(n) for n in range(n_days, 0, -1)):
        if not is_holiday(n_date):
            res = get_urls_for_date(n_date)
            eq_filepath = os.path.join(EQ_ZIP_PATH, res["eq_filename"])
            eq_download_response = download_zip_file(res["eq_url"], NSE_ACCESS_HEADERS, eq_filepath)
            # unzip_file(eq_filepath, EQ_CSV_PATH)
            fo_filepath = os.path.join(FO_ZIP_PATH, res["fo_filename"])
            fo_download_response = download_zip_file(res["fo_url"], NSE_ACCESS_HEADERS, fo_filepath)
            # unzip_file(fo_filepath, FO_CSV_PATH)
            dv_filepath = os.path.join(DV_CSV_PATH, res["dv_filename"])
            dv_download_response = download_text_file(res["dv_url"], NSE_ACCESS_HEADERS, dv_filepath)
            po_filepath = os.path.join(PO_CSV_PATH, res["po_filename"])
            po_download_response = download_text_file(res["po_url"], NSE_ACCESS_HEADERS, po_filepath)
            if "status_code" in eq_download_response and eq_download_response["status_code"] == 200 \
            and "status_code" in fo_download_response and fo_download_response["status_code"] == 200 \
            and "status_code" in dv_download_response and dv_download_response["status_code"] == 200 \
            and "status_code" in po_download_response and po_download_response["status_code"] == 200:
                result["last_succ_date"] = n_date
    return result
#

def download_data_since_ts():
    last_updated_date = read_ts()
    result = {}
    if last_updated_date:
        n_days = (TODAY - last_updated_date).days - 1
        result = download_data_for_n_days(n_days)
    return result
#

def read_ts():
    with open(TS_FILEPATH, "r") as f:
        last_updated_date_str = f.read().splitlines()[0]
    if last_updated_date_str:
        last_updated_date = datetime.datetime.strptime(last_updated_date_str, "%Y-%m-%d").date()
    else:
        raise RuntimeError("Error: Failed to read last updated timestamp.")
    return last_updated_date
#

def save_ts(last_succ_date):
    with open(TS_FILEPATH, "w") as f:
        f.write(last_succ_date.strftime("%Y-%m-%d"))

In [ ]:
def read_eq_data(filepath):
    df = pd.read_csv(filepath, header=0)
    # Replace leading and trailing spaces
    df = df.replace(r"^ +| +$", r"", regex=True)
    df = df[df["SERIES"]=="EQ"]
    select_cols = ["SYMBOL", "TIMESTAMP", "OPEN", "HIGH", "LOW", "CLOSE", "PREVCLOSE", "TOTTRDQTY", "TOTALTRADES"]
    df = df[select_cols]
    col_names = ["SYMBOL", "DATE", "OPEN", "HIGH", "LOW", "CLOSE", "PREV_CLOSE", "QTY_TRADED", "NUM_TRADES"]
    df.columns = col_names
    return df
#

def read_dv_data(eq_df, filepath):
    dv_df = pd.read_csv(filepath, header=None, skiprows=4)
    # Replace leading and trailing spaces
    dv_df = dv_df.replace(r"^ +| +$", r"", regex=True)
    dv_df.columns = ["Record Type", "Sr No", "Name of Security", "SERIES", "Quantity Traded", "DELIV_QTY", "DELIV_PER"]
    dv_df = dv_df[dv_df["SERIES"]=="EQ"]
    select_cols = ["Name of Security", "DELIV_QTY", "DELIV_PER"]
    dv_df = dv_df[select_cols]
    col_names = ["SYMBOL", "QTY_DELIVERED", "DELIVERY_PERC"]
    dv_df.columns = col_names
    eq_df = pd.merge(eq_df, dv_df, how="left", left_on="SYMBOL", right_on="SYMBOL")
    return eq_df
#

def read_fo_data(filepath):
    df = pd.read_csv(filepath, header=0)
    df = df.assign(
        FUT_OI = np.where(df["INSTRUMENT"]=="FUTSTK",df.OPEN_INT,0),
        FUT_OI_CHANGE = np.where(df["INSTRUMENT"]=="FUTSTK",df.CHG_IN_OI,0),
        FUT_CONTRACTS = np.where(df["INSTRUMENT"]=="FUTSTK",df.CONTRACTS,0),
        CE_OI = np.where(df["OPTION_TYP"]=="CE",df.OPEN_INT,0),
        CE_OI_CHANGE = np.where(df["OPTION_TYP"]=="CE",df.CHG_IN_OI,0),
        CE_CONTRACTS = np.where(df["OPTION_TYP"]=="CE",df.CONTRACTS,0),
        PE_OI = np.where(df["OPTION_TYP"]=="PE",df.OPEN_INT,0),
        PE_OI_CHANGE = np.where(df["OPTION_TYP"]=="PE",df.CHG_IN_OI,0),
        PE_CONTRACTS = np.where(df["OPTION_TYP"]=="PE",df.CONTRACTS,0),
    ).groupby("SYMBOL").agg({"FUT_OI":sum, "FUT_OI_CHANGE":sum, "FUT_CONTRACTS":sum,
                             "CE_OI":sum, "CE_OI_CHANGE":sum, "CE_CONTRACTS":sum,
                             "PE_OI":sum, "PE_OI_CHANGE":sum, "PE_CONTRACTS":sum})
    return df
#

def make_eq_df(n_date):
    res = get_urls_for_date(n_date)
    # trim ".zip" from filename.
    eq_filename = res["eq_filename"][:-4]
    eq_filepath = os.path.join(EQ_CSV_PATH, eq_filename)
    if not os.path.isfile(eq_filepath):
        raise RuntimeError(f"""Error: EQ data file not found for date: {n_date.strftime("%Y-%m-%d")}""")
    eq_df = read_eq_data(eq_filepath)
    #
    dv_filename = res["dv_filename"]
    dv_filepath = os.path.join(DV_CSV_PATH, dv_filename)
    if not os.path.isfile(dv_filepath):
        raise RuntimeError(f"""Error: Delivery data file not found for date: {n_date.strftime("%Y-%m-%d")}""")
    first_4_lines = []
    with open(dv_filepath) as dv_file:
        first_4_lines = [next(dv_file) for _ in range(4)]
    if "Deliverable Quantity to Traded Quantity" not in first_4_lines[3]:
        raise RuntimeError(f"""Error: Invalid delivery data file format for date: {n_date.strftime("%Y-%m-%d")}""")
    eq_df = read_dv_data(eq_df, dv_filepath)
    return eq_df
#

def make_fo_df(n_date):
    res = get_urls_for_date(n_date)
    # trim ".zip" from filename.
    fo_filename = res["fo_filename"][:-4]
    fo_filepath = os.path.join(FO_CSV_PATH, fo_filename)
    if not os.path.isfile(fo_filepath):
        raise RuntimeError(f"""Error: FO data file not found for date: {n_date.strftime("%Y-%m-%d")}""")
    fo_df = read_fo_data(fo_filepath)
    return fo_df
#

def read_data():
    dfs = []
    analysis_start_date = datetime.datetime.strptime(ANALYZE_SINCE, "%Y-%m-%d").date()
    n_days = (TODAY - analysis_start_date).days - 1
    print(f"Reading data for past {n_days} days...")
    for n_date in (TODAY - datetime.timedelta(n) for n in tqdm(range(n_days, 0, -1))):
        if not is_holiday(n_date):
            eq_df = make_eq_df(n_date)
            # fo_df = make_fo_df(n_date)
            # eq_fo_df = pd.merge(eq_df, fo_df, how="left", left_on="SYMBOL", right_on="SYMBOL")
            # dfs.append(eq_fo_df)
            dfs.append(eq_df)
    final_df = pd.concat(dfs)
    final_df["DATE"] = pd.to_datetime(final_df["DATE"], format="%d-%b-%Y")
    final_df["OPEN"] = pd.to_numeric(final_df["OPEN"])
    final_df["HIGH"] = pd.to_numeric(final_df["HIGH"])
    final_df["LOW"] = pd.to_numeric(final_df["LOW"])
    final_df["CLOSE"] = pd.to_numeric(final_df["CLOSE"])
    final_df["PREV_CLOSE"] = pd.to_numeric(final_df["PREV_CLOSE"])
    final_df["QTY_TRADED"] = pd.to_numeric(final_df["QTY_TRADED"])
    final_df["NUM_TRADES"] = pd.to_numeric(final_df["NUM_TRADES"])
    final_df["QTY_DELIVERED"] = pd.to_numeric(final_df["QTY_DELIVERED"])
    final_df["DELIVERY_PERC"] = pd.to_numeric(final_df["DELIVERY_PERC"])
    # final_df["FUT_OI"] = pd.to_numeric(final_df["FUT_OI"])
    # final_df["FUT_OI_CHANGE"] = pd.to_numeric(final_df["FUT_OI_CHANGE"])
    # final_df["FUT_CONTRACTS"] = pd.to_numeric(final_df["FUT_CONTRACTS"])
    # final_df["CE_OI"] = pd.to_numeric(final_df["CE_OI"])
    # final_df["CE_OI_CHANGE"] = pd.to_numeric(final_df["CE_OI_CHANGE"])
    # final_df["CE_CONTRACTS"] = pd.to_numeric(final_df["CE_CONTRACTS"])
    # final_df["PE_OI"] = pd.to_numeric(final_df["PE_OI"])
    # final_df["PE_OI_CHANGE"] = pd.to_numeric(final_df["PE_OI_CHANGE"])
    # final_df["PE_CONTRACTS"] = pd.to_numeric(final_df["PE_CONTRACTS"])
    final_df.sort_values(by="DATE", inplace=True, ascending=False)
    # print(final_df[final_df["SYMBOL"]=="TCS"].head(5))
    return final_df
#

def download_data():
    # Note: Manually clean files and set last_succ_date to date from which data is to be downloaded e.g. 2021-01-01.
    # if ERASE_HISTORY_DATA:
    #     remove_stocks_data_files()
    result = download_data_since_ts()
    if "last_succ_date" in result:
        save_ts(result["last_succ_date"])

In [ ]:
# col_names = ["symbol","date","qty_traded","num_trades","qty_delivered","delivery_perc"]

def create_stockdf(df_symbol):
    df = df_symbol.sort_values(by="DATE", ascending=True)
    return df
#

def ratio(row, numerator_column, denominator_column):
    if math.isnan(row[numerator_column]) or math.isnan(row[denominator_column]) or int(row[denominator_column]) == 0:
        return 0
    else:
        return int(row[numerator_column]) / int(row[denominator_column])
#

def high_close(row, high, low, close, prev_close):
    if math.isnan(row[high]) or math.isnan(row[low]) or math.isnan(row[close]):
        return 0
    elif row[high] == row[low]: # U/L circuit
        if float(row[close]) > float(row[prev_close]): # U circuit
            return 100
        else: # L circuit
            return 0
    else:
        # return 100 * (float(row[close]) - float(row[low])) / (float(row[high]) - float(row[low]))
        return float(row[high]) - float(row[low])
#

def compute_sm_activity(df_symbol):
    # WARN: SMA of DELIVERY_PERC is incorrect way of analysis.
    # df_symbol["sma20(DELIVERY_PERC)"] = df_symbol["DELIVERY_PERC"].rolling(window=20).mean()
    # df_symbol["QTY_DELIVERED/NUM_TRADES"] = df_symbol.apply(lambda x: ratio(x, "QTY_DELIVERED", "NUM_TRADES"), axis=1)
    # df_symbol["sma20(QTY_DELIVERED/NUM_TRADES)"] = df_symbol["QTY_DELIVERED/NUM_TRADES"].rolling(window=20).mean()
    # df_symbol["sma50(QTY_DELIVERED/NUM_TRADES)"] = df_symbol["QTY_DELIVERED/NUM_TRADES"].rolling(window=50).mean()
    df_symbol["sum20(QTY_TRADED)"] = df_symbol["QTY_TRADED"].rolling(window=20).sum()
    df_symbol["sum50(QTY_TRADED)"] = df_symbol["QTY_TRADED"].rolling(window=50).sum()
    df_symbol["sum20(QTY_DELIVERED)"] = df_symbol["QTY_DELIVERED"].rolling(window=20).sum()
    df_symbol["sum50(QTY_DELIVERED)"] = df_symbol["QTY_DELIVERED"].rolling(window=50).sum()
    df_symbol["sum20(NUM_TRADES)"] = df_symbol["NUM_TRADES"].rolling(window=20).sum()
    df_symbol["sum50(NUM_TRADES)"] = df_symbol["NUM_TRADES"].rolling(window=50).sum()
    df_symbol["sum20(QTY_DELIVERED)/sum20(NUM_TRADES)"] = df_symbol.apply(lambda x: ratio(x, "sum20(QTY_DELIVERED)", "sum20(NUM_TRADES)"), axis=1)
    df_symbol["sum50(QTY_DELIVERED)/sum50(NUM_TRADES)"] = df_symbol.apply(lambda x: ratio(x, "sum50(QTY_DELIVERED)", "sum50(NUM_TRADES)"), axis=1)
    df_symbol["sum20(QTY_DELIVERED)/sum20(QTY_TRADED)"] = df_symbol.apply(lambda x: ratio(x, "sum20(QTY_DELIVERED)", "sum20(QTY_TRADED)"), axis=1)
    df_symbol["sum50(QTY_DELIVERED)/sum50(QTY_TRADED)"] = df_symbol.apply(lambda x: ratio(x, "sum50(QTY_DELIVERED)", "sum50(QTY_TRADED)"), axis=1)
    # df_symbol["sma20(CLOSE)"] = df_symbol["CLOSE"].rolling(window=20).mean()
    # df_symbol["sma50(CLOSE)"] = df_symbol["CLOSE"].rolling(window=50).mean()
    # df_symbol["PCR"] = df_symbol.apply(lambda x: ratio(x, "PE_OI", "CE_OI"), axis=1)
    # df_symbol["FUT_OI/FUT_CONTRACTS"] = df_symbol.apply(lambda x: ratio(x, "FUT_OI", "FUT_CONTRACTS"), axis=1)
    # df_symbol["sma(FUT_OI)"] = df_symbol["FUT_OI"].rolling(window=20).mean()
    # df_symbol["CE_OI/CE_CONTRACTS"] = df_symbol.apply(lambda x: ratio(x, "CE_OI", "CE_CONTRACTS"), axis=1)
    # df_symbol["PE_OI/PE_CONTRACTS"] = df_symbol.apply(lambda x: ratio(x, "PE_OI", "PE_CONTRACTS"), axis=1)
    return df_symbol
#

def prepare_sm_data(df_all, symbols):
    analysis_result = {}
    print(f"Processing data for {len(symbols)} symbols...")
    for symbol in tqdm(symbols):
        try:
            df_symbol = df_all[df_all["SYMBOL"] == symbol]
            if not len(df_symbol):
                print(f"No data found for symbol `{symbol}`.")
                continue
            df_symbol = create_stockdf(df_symbol)
            result_df = compute_sm_activity(df_symbol)
            analysis_result[symbol] = result_df
        except Exception:
            print(f"Error while processing symbol `{symbol}`.")
    #
    return analysis_result
#

In [ ]:
HOLIDAY_LIST = load_holidays()
EXPIRY_DF = load_expiries()

MONTHLY_EXPIRY_DATE = get_monthly_expiry()
WEEKLY_EXPIRY_DATE = get_weekly_expiry()
# WEEKLY_EXPIRY_DATE = datetime.datetime.strptime("2024-11-14", "%Y-%m-%d")
PREV_MONTHLY_EXPIRY_DATE = get_previous_monthly_expiry()
PREV_WEEKLY_EXPIRY_DATE = get_previous_weekly_expiry()
# PREV_WEEKLY_EXPIRY_DATE = datetime.datetime.strptime("2024-11-07", "%Y-%m-%d")
MONTHLY_EXPIRY_STR = MONTHLY_EXPIRY_DATE.strftime("%Y-%m-%d")
WEEKLY_EXPIRY_STR = WEEKLY_EXPIRY_DATE.strftime("%Y-%m-%d")
PREV_MONTHLY_EXPIRY_STR = PREV_MONTHLY_EXPIRY_DATE.strftime("%Y-%m-%d")
PREV_WEEKLY_EXPIRY_STR = PREV_WEEKLY_EXPIRY_DATE.strftime("%Y-%m-%d")

# Main

In [ ]:
download_data()
# symbols_data = read_data()
# indices = load_nifty_indices()
# # To get all symbols
# symbols = get_symbols(indices)
# # symbols = get_symbols(indices, SECTORS)
# result_preprocessed = prepare_sm_data(symbols_data, symbols)

Downloading data for past 3 days...
Connecting to http://www.nseindia.com/api/marketStatus
Downloading file https://nsearchives.nseindia.com/content/cm/BhavCopy_NSE_CM_0_0_0_20250307_F_0000.csv.zip
Downloading file https://nsearchives.nseindia.com/content/fo/BhavCopy_NSE_FO_0_0_0_20250307_F_0000.csv.zip
Downloading file https://nsearchives.nseindia.com/archives/equities/mto/MTO_07032025.DAT
Downloading file https://nsearchives.nseindia.com/content/nsccl/fao_participant_oi_07032025.csv

## Functions

In [ ]:
def plot_sm_activity_graph(df_symbol, symbol, folder=None, show=False):
    df = df_symbol.copy()
    # cols = ["sum20(QTY_DELIVERED)/sum20(NUM_TRADES)", "sum50(QTY_DELIVERED)/sum50(NUM_TRADES)", "sum20(QTY_DELIVERED)/sum20(QTY_TRADED)", "sum50(QTY_DELIVERED)/sum50(QTY_TRADED)"]
    # df[cols] = df[cols].replace({0: np.nan}).fillna(method="bfill")

    locator = mdates.MonthLocator()
    fmt = mdates.DateFormatter("%b-%Y")
    # market_colors = mpf.make_marketcolors(base_mpf_style="yahoo")
    # my_style  = mpf.make_mpf_style(base_mpl_style="default", marketcolors=market_colors)
    # nrows = 4
    nrows = 1
    # fig, (ax1, ax2, ax3, ax4) = plt.subplots(nrows, figsize=(20, 7 * nrows), height_ratios=[2, 2, 2, 1])
    fig, (ax1) = plt.subplots(nrows, figsize=(20, 7 * nrows), height_ratios=[2])
    #
    # ax1.set_title(f"{symbol} - sum(QTY_DELIVERED) / sum(NUM_TRADES)")
    # ax1.plot(df["DATE"], df["sum20(QTY_DELIVERED)/sum20(NUM_TRADES)"], color="lightgreen")
    # ax1.plot(df["DATE"], df["sum50(QTY_DELIVERED)/sum50(NUM_TRADES)"], color="green")
    # ax1.grid(True)
    # ax1.xaxis.set_major_locator(locator)
    # ax1.xaxis.set_major_formatter(fmt)
    # for label in ax1.get_xticklabels(which="major"):
    #     label.set(rotation=45, horizontalalignment="right")
    #
    # ax2.set_title(f"{symbol} - sum(QTY_DELIVERED) / sum(QTY_TRADED)")
    # ax2.plot(df["DATE"], df["sum20(QTY_DELIVERED)/sum20(QTY_TRADED)"], color="lightgreen")
    # ax2.plot(df["DATE"], df["sum50(QTY_DELIVERED)/sum50(QTY_TRADED)"], color="green")
    # ax2.grid(True)
    # ax2.xaxis.set_major_locator(locator)
    # ax2.xaxis.set_major_formatter(fmt)
    # for label in ax2.get_xticklabels(which="major"):
    #     label.set(rotation=45, horizontalalignment="right")
    #
    # df_ohlc = df[["DATE", "OPEN", "HIGH", "LOW", "CLOSE", "QTY_TRADED"]]
    # df_ohlc = df_ohlc.rename(columns={"DATE": "Date", "OPEN": "Open", "HIGH": "High", "LOW": "Low", "CLOSE": "Close", "QTY_TRADED": "Volume"})
    # df_ohlc = df_ohlc.set_index("Date")
    # mpf.plot(df_ohlc, ax=ax3, volume=ax4, ema=(20, 50, 200), mavcolors=("green", "blue", "red"), type="candle", style=my_style, datetime_format="%b-%Y", xrotation=45)
    # ticks_df = pd.DataFrame(data=[d.strftime("%b-%Y") for d in df_ohlc.index], columns=["ticks"])
    # ticks_df = ticks_df.drop_duplicates(subset=["ticks"])
    # tick_indices = ticks_df.index.values
    # tick_labels = ticks_df.ticks.values
    # ax3.xaxis.set_ticks(tick_indices)
    # ax3.set_xticklabels(tick_labels)
    # ax3.grid(True)
    # ax4.xaxis.set_ticks(tick_indices)
    # ax4.set_xticklabels(tick_labels)

    ax1.set_title(f"{symbol} - DELIVERY_PERC sma")
    ax1.plot(df["DATE"], df["sma20(DELIVERY_PERC)"], color="lightgreen")
    ax1.plot(df["DATE"], df["sma50(DELIVERY_PERC)"], color="green")
    ax1.grid(True)
    ax1.xaxis.set_major_locator(locator)
    ax1.xaxis.set_major_formatter(fmt)
    for label in ax1.get_xticklabels(which="major"):
        label.set(rotation=45, horizontalalignment="right")

    if show:
        plt.show()
    else:
        plt.savefig(f"{folder}/{symbol}.png", bbox_inches="tight")
        plt.close(fig)
#

In [ ]:
!mkdir -p institution_activity
!mkdir -p positions

In [ ]:
!rm -f institution_activity/*
!rm -f positions/*

In [ ]:
result_symbols = []
# for d in range(2, 14):
#     for symbol in result_preprocessed.keys():
#         df_symbol = result_preprocessed[symbol]
#         if len(df_symbol) < 50:
#             continue
#         qty_delivered_num_trades_sma20 = df_symbol["sum50(QTY_DELIVERED)/sum50(NUM_TRADES)"][-d:-d+1].squeeze()
#         qty_delivered_num_trades_sma20_max_200 = df_symbol["sum50(QTY_DELIVERED)/sum50(NUM_TRADES)"][-d-200:-d].max()
#         condition_1 = False
#         if qty_delivered_num_trades_sma20 >= qty_delivered_num_trades_sma20_max_200:
#             condition_1 = True
#         qty_delivered_qty_traded_sma20 = df_symbol["sum50(QTY_DELIVERED)/sum50(QTY_TRADED)"][-d:-d+1].squeeze()
#         qty_delivered_qty_traded_sma20_max_200 = df_symbol["sum50(QTY_DELIVERED)/sum50(QTY_TRADED)"][-d-200:-d].max()
#         condition_2 = False
#         if qty_delivered_qty_traded_sma20 >= qty_delivered_qty_traded_sma20_max_200:
#             condition_2 = True
#         if condition_1 and condition_2:
#             result_symbols.append(symbol)
#         # qty_delivered_num_trades_sma50 = df_symbol["sum50(QTY_DELIVERED)/sum50(NUM_TRADES)"][-d:-d+1].squeeze()
#         # if qty_delivered_num_trades_sma20 >= qty_delivered_num_trades_sma50 * 1.5:
#         #    result_symbols.append(symbol)
# #

excl = {
}

watch_list = {
}

symbols_sm_activity = sorted(set(result_symbols).difference(excl).union(watch_list))
print(symbols_sm_activity)

[]

In [ ]:
for s in symbols_sm_activity:
    if s in result_preprocessed.keys():
        df_symbol = result_preprocessed[s]
        plot_sm_activity_graph(df_symbol, s, "institution_activity", show=False)

In [ ]:
positions_list = {
    # "AARTIIND","ABFRL","ACC","ATUL","AVANTIFEED",
    # "BALAMINES","BALAMINES","BATAINDIA","BCG","BIOCON","BORORENEW",
    # "CHAMBLFERT","CLEAN",
    # "EMAMILTD","EPIGRAL",
    # "GLAND","GRINFRA","GUJGASLTD",
    # "HONAUT",
    # "IEX","IEX","INDIACEM","INDIAMART",
    # "JUBLFOOD",
    # "LALPATHLAB","LICI","LTTS ","LXCHEM ",
    # "METROPOLIS","MRPL",
    # "QUESS",
    # "RAIN","RENUKA","ROSSARI",
    # "SFL","SONACOMS","STLTECH","SUMICHEM",
    # "TCIEXP","TCIEXP",
    # "VINATIORGA","VMART","VTL",
    # "WIPRO",""
}

for s in positions_list:
    if s in result_preprocessed.keys():
        df_symbol = result_preprocessed[s]
        plot_sm_activity_graph(df_symbol, s, "positions", show=False)

In [ ]:
!rm -f institution_activity.zip
!rm -f positions.zip

In [ ]:
!zip -rq institution_activity.zip institution_activity
!zip -rq positions.zip positions

In [ ]:
# symbol = "DMART"
# df_symbol = result_preprocessed[symbol]
# plot_sm_activity_graph(df_symbol, symbol, show=True)

# FII Sectorwise Fortnightly

In [ ]:
# df = pd.read_excel("/content/drive/MyDrive/institution_activity_analysis/data/fii_sectorwise_fortnightly/Fortnightly Sectorwise FII Investment Data.xlsx", sheet_name="Sheet1")
# df = df.set_index("Sectors")
# df = df.T
# df.index = pd.to_datetime(df.index)
# df = df[-12*2:] # Take last one year data
# df.columns.name = None
# df = df.drop(columns=["Diversified", "Utilities", "Sovereign", "Others"])
# ncols = 4
# nrows = math.ceil(len(df.columns) / ncols)
# fig, axs = plt.subplots(nrows=nrows, ncols=ncols, figsize=(32, 6*nrows))
# print(df.columns)
# for i,c in enumerate(df.columns):
#     r = math.floor(i/4)
#     ax = axs[r, i%4]
#     ax_ret = df[[c]].plot.bar(ax=ax, rot=45)
#     xticks = [""] * len(df.index)
#     # Parse month names from every 2nd column. There are 2 columns for each month (data for 15 days i.e. fortnightly).
#     xticks[::2] = [i.strftime("%b") for i in df.index[::2]]
#     ax_ret.set_xticklabels(xticks)

# # 'Consumer Services', 'Forest Materials', 'Capital Goods', 'Realty'

In [ ]:
# # List all industry names from index file
# indices = load_nifty_indices()
# df_nifty_500 = indices["df_nifty_500"]
# sorted(df_nifty_500["Industry"].unique().tolist())

In [ ]:
# # Get stocks by industry
# industry = "Chemicals" #"Construction Materials", "Consumer Services", "Capital Goods"

# df_nifty_500[df_nifty_500["Industry"] == industry][["Company Name", "Symbol"]]

# Delivery Percentage

Note: sma50(%Delivery) is same as sum50(Delivered) / sum50(Total Traded)

In [ ]:
def read_dp_data(filepath, the_date):
    dp_df = pd.read_csv(filepath, header=None, skiprows=4)
    dp_df["DATE"] = the_date
    # Replace leading and trailing spaces
    dp_df = dp_df.replace(r"^ +| +$", r"", regex=True)
    dp_df.columns = ["Record Type", "Sr No", "Name of Security", "SERIES", "Quantity Traded", "DELIV_QTY", "DELIV_PER", "DATE"]
    dp_df = dp_df[dp_df["SERIES"]=="EQ"]
    select_cols = ["Name of Security", "Quantity Traded", "DELIV_QTY", "DELIV_PER", "DATE"]
    dp_df = dp_df[select_cols]
    col_names = ["SYMBOL", "QTY_TRADED", "QTY_DELIVERED", "DELIVERY_PERC", "DATE"]
    dp_df.columns = col_names
    return dp_df
#

def get_date_as_d_b_Y(ts):
    dd = ts.strftime("%d")
    mon = ts.strftime("%b")
    yyyy = ts.strftime("%Y")
    return f"{dd}-{mon}-{yyyy}"
#

def make_dp_df(n_date):
    res = get_urls_for_date(n_date)
    #
    dv_filename = res["dv_filename"]
    dv_filepath = os.path.join(DV_CSV_PATH, dv_filename)
    if not os.path.isfile(dv_filepath):
        raise RuntimeError(f"""Error: Delivery data file not found for date: {n_date.strftime("%Y-%m-%d")}""")
    first_4_lines = []
    with open(dv_filepath) as dv_file:
        first_4_lines = [next(dv_file) for _ in range(4)]
    if "Deliverable Quantity to Traded Quantity" not in first_4_lines[3]:
        raise RuntimeError(f"""Error: Invalid delivery data file format for date: {n_date.strftime("%Y-%m-%d")}""")
    date_dby = get_date_as_d_b_Y(n_date)
    dp_df = read_dp_data(dv_filepath, date_dby)
    return dp_df
#

def read_delivery_percentage_data():
    dfs = []
    analysis_start_date = datetime.datetime.strptime(ANALYZE_SINCE, "%Y-%m-%d").date()
    n_days = (TODAY - analysis_start_date).days - 1
    print(f"Reading data for past {n_days} days...")
    for n_date in (TODAY - datetime.timedelta(n) for n in tqdm(range(n_days, 0, -1))):
        if not is_holiday(n_date):
            dp_df = make_dp_df(n_date)
            dfs.append(dp_df)
    final_df = pd.concat(dfs)
    final_df["DATE"] = pd.to_datetime(final_df["DATE"], format="%d-%b-%Y")
    final_df["QTY_TRADED"] = pd.to_numeric(final_df["QTY_TRADED"])
    final_df["QTY_DELIVERED"] = pd.to_numeric(final_df["QTY_DELIVERED"])
    final_df["DELIVERY_PERC"] = pd.to_numeric(final_df["DELIVERY_PERC"])
    final_df.sort_values(by="DATE", inplace=True, ascending=False)
    return final_df
#

def compute_sm_delivery_percentage_data_activity(df_symbol):
    # WARN: SMA of DELIVERY_PERC is incorrect way of analysis.
    df_symbol["sma20(DELIVERY_PERC)"] = df_symbol["DELIVERY_PERC"].rolling(window=20).mean()
    df_symbol["sma50(DELIVERY_PERC)"] = df_symbol["DELIVERY_PERC"].rolling(window=50).mean()
    return df_symbol
#

def prepare_sm_delivery_percentage_data(df_all, symbols):
    analysis_result = {}
    print(f"Processing data for {len(symbols)} symbols...")
    for symbol in tqdm(symbols):
        try:
            df_symbol = df_all[df_all["SYMBOL"] == symbol]
            if not len(df_symbol):
                print(f"No data found for symbol `{symbol}`.")
                continue
            df_symbol = create_stockdf(df_symbol)
            result_df = compute_sm_delivery_percentage_data_activity(df_symbol)
            analysis_result[symbol] = result_df
        except Exception as e:
            print(f"Error while processing symbol `{symbol}`.")
            ex_type, ex_value, ex_traceback = sys.exc_info()
            trace_back = traceback.extract_tb(ex_traceback)
            print(f"Exception: {repr(ex_value)}")
            print("Stack trace:")
            for trace in trace_back:
                print(f"Function: {trace[2]}, Line: {trace[1]}, Message: {trace[3]}")
    #
    return analysis_result
#

In [ ]:
# symbols_data = read_delivery_percentage_data()
# indices = load_nifty_indices()
# symbols = get_symbols(indices)
# # symbols = ["TCS"]
# result_preprocessed = prepare_sm_delivery_percentage_data(symbols_data, symbols)

In [ ]:
# result_symbols = []
# for d in range(2, 14):
#     for symbol in result_preprocessed.keys():
#         df_symbol = result_preprocessed[symbol]
#         if len(df_symbol) < 50:
#             continue
#         delivery_perc_sma20 = df_symbol["sma50(DELIVERY_PERC)"][-d:-d+1].squeeze()
#         delivery_perc_sma20_max_200 = df_symbol["sma50(DELIVERY_PERC)"][-d-200:-d].max()
#         condition_1 = False
#         if delivery_perc_sma20 >= delivery_perc_sma20_max_200:
#             result_symbols.append(symbol)
# #

# excl = {
# }

# watch_list = {
# }

# symbols_sm_activity = sorted(set(result_symbols).difference(excl).union(watch_list))
# print(symbols_sm_activity)

In [ ]:
# symbol = "TORNTPHARM"
# df_symbol = result_preprocessed[symbol]
# plot_sm_activity_graph(df_symbol, symbol, show=True)

# Participantwise OI

In [ ]:
FROM_DATE = (PREV_MONTHLY_EXPIRY_DATE - datetime.timedelta(days=4)).strftime("%Y-%m-%d")
TO_DATE = YDAY.strftime("%Y-%m-%d")

# FROM_DATE = FROM_DATE_FUT_ANALYSIS
# TO_DATE = TO_DATE_FUT_ANALYSIS

## Functions

In [ ]:
def validate_po_file(filepath):
    first_2_lines = []
    with open(filepath) as po_file:
        first_2_lines = [next(po_file) for _ in range(2)]
    if "Participant wise Open Interest" not in first_2_lines[0]:
        raise RuntimeError(f"Error: Invalid FnO participantwise oi data file: '{filepath}'")
#

def read_fii_futures_oi_data(filepath):
    po_df = pd.read_csv(filepath, header=0, skiprows=1)
    # Replace leading and trailing spaces from headers and rows
    po_df.columns = po_df.columns.str.strip()
    po_df = po_df.replace(r"\s+", r"", regex=True)
    po_df = po_df[po_df["Client Type"] == "FII"]
    select_cols = ["Future Index Long", "Future Index Short"]
    po_df = po_df[select_cols]
    return po_df.values[0].tolist()
#

def read_participantwise_oi_data(filepath):
    po_df = pd.read_csv(filepath, header=0, skiprows=1)
    # Replace leading and trailing spaces from headers and rows
    po_df.columns = po_df.columns.str.strip()
    po_df = po_df.replace(r"\s+", r"", regex=True)
    select_cols = ["Future Index Long", "Future Index Short", "Option Index Call Long", "Option Index Put Long", "Option Index Call Short", "Option Index Put Short"]
    po_df = po_df[select_cols]
    return po_df.values[0].tolist()
#

def build_fii_futures_oi_data_for_dates(from_date, to_date):
    daterange = pd.date_range(from_date, to_date)
    po_dict = {}
    for the_date in daterange:
        if not is_holiday(the_date):
            res = get_urls_for_date(the_date)
            po_filepath = os.path.join(PO_CSV_PATH, res["po_filename"])
            validate_po_file(po_filepath)
            date_part = get_date_for_timestamp(the_date)
            po_dict[date_part] = read_fii_futures_oi_data(po_filepath)
    po_df = pd.DataFrame.from_dict(po_dict, orient="index", columns=["Long", "Short"])
    po_df["Long"] = (po_df["Long"] / 1000).astype(int)
    po_df["Short"] = (po_df["Short"] / 1000).astype(int)
    po_df["Long COI"] = po_df["Long"].diff().fillna(0).astype(int)
    po_df["Short COI"] = po_df["Short"].diff().fillna(0).astype(int)
    po_df["Net OI"] = (po_df["Long"] - po_df["Short"]).astype(int)
    return po_df
#

def style_futures_oi(s):
    style_normal = "color: black;"
    style_positive = "background-color: #b7e1cd; color: black;"
    style_negative = "background-color: #ea9999; color: black;"
    if s.name == "Long COI":
        return [style_positive if v > 0 else style_negative if v < 0 else style_normal for v in s]
    elif s.name == "Short COI":
        return [style_negative if v > 0 else style_positive if v < 0 else style_normal for v in s]
    elif s.name == "Net OI":
        return [style_positive if v > 0 else style_negative if v < 0 else style_normal for v in s]
    return [style_normal for _ in s]
#

def read_participantwise_oi_data(filepath, the_date):
    po_df = pd.read_csv(filepath, header=0, skiprows=1)
    # Replace leading and trailing spaces from headers and rows
    po_df.columns = po_df.columns.str.strip()
    po_df = po_df.replace(r"\s+", r"", regex=True)
    select_cols = ["Client Type", "Future Index Long", "Future Index Short", "Option Index Call Long", "Option Index Put Long", "Option Index Call Short", "Option Index Put Short"]
    po_df = po_df[select_cols]
    po_df = po_df[po_df["Client Type"].isin(["Client", "DII", "FII", "Pro"])]
    date_part = get_date_for_timestamp(the_date)
    po_df["date"] = pd.to_datetime(date_part)
    po_df = po_df[["date"] + select_cols]
    new_cols = {"Client Type": "client", "Future Index Long": "fut_long_oi", "Future Index Short": "fut_short_oi", "Option Index Call Long": "call_long_oi", "Option Index Put Long": "put_long_oi", "Option Index Call Short": "call_short_oi", "Option Index Put Short": "put_short_oi"}
    po_df = po_df.rename(columns=new_cols)
    po_df["fut_long_oi"] = (po_df["fut_long_oi"] / 1000).astype(int)
    po_df["fut_short_oi"] = (po_df["fut_short_oi"] / 1000).astype(int)
    po_df["call_long_oi"] = (po_df["call_long_oi"] / 1000).astype(int)
    po_df["put_long_oi"] = (po_df["put_long_oi"] / 1000).astype(int)
    po_df["call_short_oi"] = (po_df["call_short_oi"] / 1000).astype(int)
    po_df["put_short_oi"] = (po_df["put_short_oi"] / 1000).astype(int)
    po_df["fut_net_oi"] = po_df["fut_long_oi"] - po_df["fut_short_oi"]
    po_df["call_net_oi"] = po_df["call_long_oi"] - po_df["call_short_oi"]
    po_df["put_net_oi"] = po_df["put_long_oi"] - po_df["put_short_oi"]
    po_df["opt_net_oi"] = po_df["call_net_oi"] - po_df["put_net_oi"]
    po_df["fut_long_coi"] = 0
    po_df["fut_short_coi"] = 0
    po_df["call_long_coi"] = 0
    po_df["put_long_coi"] = 0
    po_df["call_short_coi"] = 0
    po_df["put_short_coi"] = 0
    return po_df
#

def build_coi(po_df, client):
    client_po_df = po_df[po_df["client"] == client].copy().sort_values(by="date", ascending=True)
    client_po_df["fut_long_coi"] = client_po_df["fut_long_oi"].diff().fillna(0).astype(int)
    client_po_df["fut_short_coi"] = client_po_df["fut_short_oi"].diff().fillna(0).astype(int)
    client_po_df["call_long_coi"] = client_po_df["call_long_oi"].diff().fillna(0).astype(int)
    client_po_df["put_long_coi"] = client_po_df["put_long_oi"].diff().fillna(0).astype(int)
    client_po_df["call_short_coi"] = client_po_df["call_short_oi"].diff().fillna(0).astype(int)
    client_po_df["put_short_coi"] = client_po_df["put_short_oi"].diff().fillna(0).astype(int)
    return client_po_df
#

def build_participantwise_oi_data_for_dates(from_date, to_date):
    daterange = pd.date_range(from_date, to_date)
    po_df_arr = []
    for the_date in daterange:
        if not is_holiday(the_date):
            res = get_urls_for_date(the_date)
            po_filepath = os.path.join(PO_CSV_PATH, res["po_filename"])
            validate_po_file(po_filepath)
            po_df = read_participantwise_oi_data(po_filepath, the_date)
            po_df_arr.append(po_df)
    po_df = pd.concat(po_df_arr)
    client_po_df = build_coi(po_df, "Client")
    dii_po_df = build_coi(po_df, "DII")
    fii_po_df = build_coi(po_df, "FII")
    pro_po_df = build_coi(po_df, "Pro")
    po_df = pd.concat([client_po_df, dii_po_df, fii_po_df, pro_po_df])
    po_df = po_df[["date", "client", "fut_long_coi", "fut_short_coi", "call_long_coi", "put_long_coi", "call_short_coi", "put_short_coi", "fut_net_oi", "call_net_oi", "put_net_oi", "opt_net_oi"]]
    po_df = po_df.sort_values(by=["date", "client"], ascending=[False, True])
    po_df["date"] = po_df["date"].dt.date
    po_df = po_df.set_index(["client", "date"])
    return po_df
#

def style_participantwise_oi(s):
    style_normal = "color: black;"
    style_positive = "background-color: #b7e1cd; color: black;"
    style_negative = "background-color: #ea9999; color: black;"
    top_border = "border-top: 2px solid black;"
    result_style = None
    if s.name in ["fut_net_oi", "call_net_oi", "opt_net_oi", "fut_long_coi", "call_long_coi", "put_short_coi"]:
      result_style = [style_positive if v > 0 else style_negative if v < 0 else style_normal for v in s]
    elif s.name in ["put_net_oi", "fut_short_coi", "put_long_coi", "call_short_coi"]:
      result_style = [style_negative if v > 0 else style_positive if v < 0 else style_normal for v in s]
    elif s.name == "Net OI":
      result_style = [style_positive if v > 0 else style_negative if v < 0 else style_normal for v in s]
    else:
      result_style = [style_normal for _ in s]
    #
    new_day_idx = [i for i, r in enumerate(s.index.tolist()) if r[0] == 'Client']
    result_style = [s+top_border if i in new_day_idx else s for i, s in enumerate(result_style)]
    return result_style
#

## FII Futures OI

In [ ]:
po_df = build_fii_futures_oi_data_for_dates(FROM_DATE, TO_DATE)
po_df.style.apply(style_futures_oi)

## All Participants OI

In [ ]:
po_df = build_participantwise_oi_data_for_dates(FROM_DATE, TO_DATE)
po_df.style.apply(style_participantwise_oi)

# Option Chain OI and COI

## Functions

In [ ]:
def read_oc_data(filepath):
    oc_df = pd.read_csv(filepath, header=0)
    oc_df = oc_df[(oc_df["FinInstrmTp"] == "IDO") \
                  & (oc_df["TckrSymb"] == "NIFTY") \
                  & (oc_df["XpryDt"] == EXPIRY_DATE) \
                  & (oc_df["StrkPric"].mod(100) == 0) \
                  & (oc_df["StrkPric"].fillna(0).astype(int) >= STRIKE_MIN) \
                  & (oc_df["StrkPric"].fillna(0).astype(int) <= STRIKE_MAX)]
    select_cols = ["StrkPric", "OptnTp", "OpnIntrst", "ChngInOpnIntrst"]
    oc_df = oc_df[select_cols].sort_values(by=["OptnTp", "StrkPric"])
    oc_df["StrkPric"] = oc_df["StrkPric"].astype(int)
    oc_df["OpnIntrst"] = (oc_df["OpnIntrst"] / 1000).astype(int)
    oc_df["ChngInOpnIntrst"] = (oc_df["ChngInOpnIntrst"] / 1000).astype(int)
    return oc_df
#

def build_option_chain_oi_data_for_dates(from_date, to_date):
    daterange = pd.date_range(from_date, to_date)
    strikes = [s for s in range(STRIKE_MIN, STRIKE_MAX+1, 100)]
    oi_ce_df = pd.DataFrame(data=[r for r in itertools.product(strikes, ["CE"])], columns=["Strike_CE", "OptionType"])
    oi_pe_df = pd.DataFrame(data=[r for r in itertools.product(strikes, ["PE"])], columns=["Strike_PE", "OptionType"])
    coi_ce_df = oi_ce_df.copy()
    coi_pe_df = oi_pe_df.copy()
    for the_date in daterange:
        if not is_holiday(the_date):
            res = get_urls_for_date(the_date)
            fo_filepath = os.path.join(FO_ZIP_PATH, res["fo_filename"])
            unzip_file(fo_filepath, "/content")
            oc_df = read_oc_data(fo_filepath)
            oi_ce_df = pd.merge(oi_ce_df, oc_df, left_on=["Strike_CE", "OptionType"], right_on=["StrkPric", "OptnTp"])
            oi_ce_df = oi_ce_df.drop(columns=["StrkPric", "OptnTp", "ChngInOpnIntrst"])
            oi_ce_df = oi_ce_df.rename(columns={"OpnIntrst" : the_date.strftime("%d")+"_CE"})
            oi_pe_df = pd.merge(oi_pe_df, oc_df, left_on=["Strike_PE", "OptionType"], right_on=["StrkPric", "OptnTp"])
            oi_pe_df = oi_pe_df.drop(columns=["StrkPric", "OptnTp", "ChngInOpnIntrst"])
            oi_pe_df = oi_pe_df.rename(columns={"OpnIntrst" : the_date.strftime("%d")+"_PE"})
            coi_ce_df = pd.merge(coi_ce_df, oc_df, left_on=["Strike_CE", "OptionType"], right_on=["StrkPric", "OptnTp"])
            coi_ce_df = coi_ce_df.drop(columns=["StrkPric", "OptnTp", "OpnIntrst"])
            coi_ce_df = coi_ce_df.rename(columns={"ChngInOpnIntrst" : the_date.strftime("%d")+"_CE"})
            coi_pe_df = pd.merge(coi_pe_df, oc_df, left_on=["Strike_PE", "OptionType"], right_on=["StrkPric", "OptnTp"])
            coi_pe_df = coi_pe_df.drop(columns=["StrkPric", "OptnTp", "OpnIntrst"])
            coi_pe_df = coi_pe_df.rename(columns={"ChngInOpnIntrst" : the_date.strftime("%d")+"_PE"})
    oi_ce_df = oi_ce_df.drop(columns=["OptionType"])
    oi_pe_df = oi_pe_df.drop(columns=["OptionType"])
    oi_df = pd.merge(oi_ce_df, oi_pe_df, left_on="Strike_CE", right_on="Strike_PE")
    oi_df = oi_df.drop(columns=["Strike_CE"])
    oi_df = oi_df.rename(columns={"Strike_PE" : "Strike"})
    coi_ce_df = coi_ce_df.drop(columns=["OptionType"])
    coi_pe_df = coi_pe_df.drop(columns=["OptionType"])
    coi_df = pd.merge(coi_ce_df, coi_pe_df, left_on="Strike_CE", right_on="Strike_PE")
    coi_df = coi_df.drop(columns=["Strike_CE"])
    coi_df = coi_df.rename(columns={"Strike_PE" : "Strike"})
    return oi_df, coi_df
#

from  matplotlib.colors import LinearSegmentedColormap
cmap = LinearSegmentedColormap.from_list("rg",["r", "w", "g"], N=256)

In [ ]:
dd_opt_type__oi_strike = None
dd_opt_type__atm_strike = None

def style_oi_strike(s):
    dd = s.name.replace("_CE", "").replace("_PE", "")
    oi_strikes = [r[1] if r[0] == s.name else 0 for r in dd_opt_type__oi_strike]
    atm_strikes = [r[1] if r[0][-2:] == dd else 0 for r in dd_opt_type__atm_strike]
    oi_strikes_bool_arr = s.index.isin(oi_strikes)
    atm_strikes_bool_arr = s.index.isin(atm_strikes)
    oi_strikes_style_arr = ["background-color: yellow;" if v else "" for v in oi_strikes_bool_arr]
    atm_strikes_style_arr = ["border: 1px solid;" if v else "" for v in atm_strikes_bool_arr]
    meta_arr = [oi_strikes_style_arr, atm_strikes_style_arr]
    all_styles_arr = ["".join(str(item) for item in column) for column in zip(*meta_arr)]
    return all_styles_arr
#

## Monthly Expiry

In [ ]:
FROM_DATE = PREV_MONTHLY_EXPIRY_STR
TO_DATE = YDAY.strftime("%Y-%m-%d")
EXPIRY_DATE = MONTHLY_EXPIRY_STR
STRIKE_MIN = MONTHLY_STRIKE_MIN_OI_ANALYSIS
STRIKE_MAX = MONTHLY_STRIKE_MAX_OI_ANALYSIS

# FROM_DATE = FROM_DATE_OPT_ANALYSIS
# TO_DATE = TO_DATE_OPT_ANALYSIS

In [ ]:
# Highlight observations
dd_opt_type__oi_strike = [
    # ["14_CE", 22500],
    # ["19_PE", 23300],
]

SPOT_DF = download_nifty_data_from_kite(FROM_DATE, TO_DATE)
dd_opt_type__atm_strike = get_atm_strike_for_spot_for_dates(FROM_DATE, TO_DATE)

oi_df, coi_df = build_option_chain_oi_data_for_dates(FROM_DATE, TO_DATE)

coi_df_2 = coi_df.set_index("Strike")
coi_df_ce = coi_df_2[[c for c in coi_df_2.columns if "_CE" in c]]
coi_df_pe = coi_df_2[[c for c in coi_df_2.columns if "_PE" in c]]

In [ ]:
coi_df_ce.style.apply(style_oi_strike)

In [ ]:
coi_df_pe.style.apply(style_oi_strike)

## Weekly Expiry

In [ ]:
FROM_DATE = PREV_WEEKLY_EXPIRY_STR
TO_DATE = YDAY.strftime("%Y-%m-%d")
EXPIRY_DATE = WEEKLY_EXPIRY_STR
STRIKE_MIN = WEEKLY_STRIKE_MIN_OI_ANALYSIS
STRIKE_MAX = WEEKLY_STRIKE_MAX_OI_ANALYSIS

# FROM_DATE = FROM_DATE_OPT_ANALYSIS
# TO_DATE = TO_DATE_OPT_ANALYSIS

In [ ]:
# Highlight observations
dd_opt_type__oi_strike = [
    # ["29_CE", 24200],
    # ["29_PE", 24000],
]

SPOT_DF = download_nifty_data_from_kite(FROM_DATE, TO_DATE)
dd_opt_type__atm_strike = get_atm_strike_for_spot_for_dates(FROM_DATE, TO_DATE)

oi_df, coi_df = build_option_chain_oi_data_for_dates(FROM_DATE, TO_DATE)

coi_df_2 = coi_df.set_index("Strike")
coi_df_ce = coi_df_2[[c for c in coi_df_2.columns if "_CE" in c]]
coi_df_pe = coi_df_2[[c for c in coi_df_2.columns if "_PE" in c]]

In [ ]:
coi_df_ce.style.apply(style_oi_strike)

In [ ]:
coi_df_pe.style.apply(style_oi_strike)

# END